@use "variables" as v;
@use "sass:map";
@use "sass:color";

@mixin flex($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin grid(
  $rows: null,
  $columns: null,
  $gap: null,
  $justify: null,
  $row-gap: null,
  $column-gap: null
) {
  display: grid;
  gap: $gap;
  row-gap: $row-gap;
  column-gap: $column-gap;
  grid-template-rows: $rows;
  grid-template-columns: $columns;
  justify-content: $justify;
}

@mixin media-query($key, $max-height: null) {
  $size: map.get(v.$breakpoints, $key);
  @if $max-height == null {
    @media screen and (max-width: $size) {
      @content;
    }
  } @else {
    @media screen and (max-width: $size) and (max-height: $max-height) {
      @content;
    }
  }
}

@mixin dark-mode {
  background-color: v.$background-dark-theme-color;
  header {
    h1 {
      a {
        color: v.$header-dark-theme-color;
      }
    }
    button.je-mappelle-hamburger {
      .line {
        background-color: v.$header-dark-theme-color;
      }
    }
  }
  nav {
    a {
      color: inherit;
      &:hover {
        color: color.change(v.$hero-dark-theme-color, $lightness: 60%);
      }
    }
    background-color: v.$background-dark-theme-color;
  }
  h1 {
    color: v.$h1-dark-theme-color;
  }
  p {
    color: v.$p-dark-theme-color;
  }
}
