@use "../abstracts/variables" as v;

header {
  h1 {
    color: v.$header-color;
    a {
      text-decoration: none;
    }
    a:visited {
      color: inherit;
    }
  }
  button.je-mappelle-hamburger {
    background: none;
    border: none;
    .line {
      background-color: v.$header-color;
    }
  }
}

nav {
  @extend h1;
  a {
    color: inherit;
  }
  background-color: v.$light-background-color;
}
