@use "../abstracts/variables" as v;
@use "sass:color";

header {
  h1 {
    a {
      color: v.$header-color;
      text-decoration: none;
    }
  }
  button.je-mappelle-hamburger {
    background: none;
    border: none;
    .line {
      background-color: v.$header-color;
    }
  }
}

nav {
  @extend h1;
  a {
    color: inherit;
    &:hover {
      color: color.change(v.$hero-color, $lightness: 60%);
    }
  }
  background-color: v.$light-background-color;
}
