@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "sass:color";

header {
  h1 {
    a {
      color: v.$header-color;
      text-decoration: none;
      transition: color 1s ease;
    }
    &.nav-opened {
      a {
        color: v.$header-dark-theme-color;
      }
    }
  }
  button.je-mappelle-hamburger {
    background: none;
    border: none;
    .line {
      background-color: v.$header-color;
      &.toggle {
        background-color: v.$header-dark-theme-color;
      }
    }
  }
}

nav {
  background-color: v.$background-dark-theme-color;
  a {
    color: v.$header-dark-theme-color;
    text-decoration: none;
    &:hover {
      color: color.change(v.$header-dark-theme-color, $lightness: 60%);
    }
  }
}
#homepage {
  #hero {
    h2 {
      color: v.$hero-color;
    }
  }
}
@media (prefers-color-scheme: dark) {
  body {
    @include m.dark-mode;
  }
}
