@use "../abstracts/mixins" as m;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

header {
  min-height: 10vh;
  padding: 1rem;
  @include m.flex(center, center, row);
  gap: 5rem;
  h1 {
    overflow: hidden;
    .letter {
      position: relative;
      bottom: -4rem;
    }
  }
  ul {
    @include m.flex(center, center, row);
    list-style-type: none;
    gap: 2rem;
  }
}
