@use "../abstracts/mixins" as m;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.overflow-hidden {
  overflow-x: hidden;
  overflow-y: visible;
}

body.overflow-hidden,
html.disable-nav-scrolling {
  overflow: hidden;
}

header {
  min-height: 10vh;
  padding: 1rem;
  @include m.flex(center, center, row);
  gap: 5rem;
  @include m.media-query(mobile) {
    gap: 3rem;
  }
  h1 {
    overflow: hidden;
    z-index: 2;
    .letter {
      position: relative;
      bottom: -4rem;
    }
  }
}

main {
  min-height: 90vh;
  padding-top: 5rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
