@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: v.$h1-font;
}

nav {
  font-size: v.$nav-font;
}
