@use "../../abstracts/variables" as v;
@use "../../abstracts/mixins" as m;

#homepage {
  overflow: hidden;
  #hero {
    @include m.flex(center, center, column);
    min-height: 90vh;
    padding-top: 5rem;
    margin: 0 5%;
    scale: 1.25;
    animation: 2s ease 0.35s forwards hero-animation;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    .hero-container {
      position: relative;
    }
    .hero-img-wrapper {
      max-width: 100rem;
      height: 68.7rem;
      // We load in a smaller image when max-height: 650px, so we want the wrapper width to match the loaded image width
      @include m.media-query(mobile, 650px) {
        max-width: 27.2rem;
        height: 80vh;
        margin: 0;
      }
      // We load in a bigger image if the screen height is bigger than 650px, so again we want the wrapper width to match the loaded image width
      @include m.media-query(mobile) {
        max-width: 36.2rem;
        height: 80vh;
        margin: 0;
      }
    }
    h2 {
      @include m.flex(center, center, row);
      gap: calc(5vw + 20rem);
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include m.media-query(mobile) {
        gap: 1rem;
        flex-direction: column;
      }
    }
    .span-wrapper {
      overflow: hidden;
    }
    span {
      position: relative;
      text-shadow: v.$hero-text-shadow;
    }
    .hero-text-1 {
      right: -11rem;
      animation: 0.3s ease 2.7s forwards hero-text-1-animation;
    }
    .hero-text-2 {
      bottom: -11rem;
      animation: 0.3s ease 2.85s forwards hero-text-2-animation;
    }
    .hero-text-3 {
      left: -11rem;
      animation: 0.3s ease 3s forwards hero-text-3-animation;
    }
    .clouds-img-container {
      width: 37.8rem;
      height: 25.3rem;
      position: absolute;
      top: 0;
      right: -10rem;
      pointer-events: none;
      @include m.media-query(mobile) {
        width: 27.2rem;
        height: 18.2rem;
        top: 3rem;
      }
    }
    .cloud {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
    }
    .cloud-1 {
      top: -5rem;
      right: 0;
      animation: 2s ease 1.7s forwards cloud-fadeIn-1-animation,
        3s ease-in-out 0.35s infinite alternate cloud-1-animation;
    }
    .cloud-2 {
      top: -10rem;
      right: 10rem;
      z-index: -1;
      animation: 2s ease 1.7s forwards cloud-fadeIn-2-animation,
        3s ease-in-out 0.85s infinite alternate cloud-2-animation;
    }
  }
}

@keyframes hero-animation {
  0% {
    scale: 1.25;
  }
  60% {
    scale: 0.96;
  }
  100% {
    scale: 1;
  }
}

@keyframes hero-text-1-animation {
  from {
    right: -11rem;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes hero-text-2-animation {
  from {
    bottom: -11rem;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes hero-text-3-animation {
  from {
    left: -11rem;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes cloud-1-animation {
  from {
    right: 0;
  }
  to {
    right: 10rem;
  }
}

@keyframes cloud-2-animation {
  from {
    right: 10rem;
  }
  to {
    right: 0;
  }
}

@keyframes cloud-fadeIn-1-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes cloud-fadeIn-2-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes logo-animation {
  0% {
    bottom: -4rem;
  }
  60% {
    bottom: 0.5rem;
  }
  100% {
    bottom: 0;
  }
}
